ログインページ
<div>
  <%= link_to "講師ログインページへ", new_teacher_session_path %>
</div>
<div>
  <%= link_to "生徒ログインページへ", new_student_session_path %>
</div>
<div>
  <%= link_to "保護者ログインページへ", new_parent_session_path %>
</div>
